@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Các styles của bạn ở đây */
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  /* outline: none; */
  /* border: 0; */
}
body {
  background-color: #27374d;
  overflow-x: hidden;
}

/* css modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  background-color: rgba(247, 245, 248, 0.61);
}
.fade {
  transition: opacity 0.15s linear;
}
.modal-dialog {
  max-width: 900px;
  margin: 4.75rem auto;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
.modal-dialog {
  position: relative;
  width: auto;
  margin-top: 160px;
  /* margin: 0.5rem; */
  pointer-events: none;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.005);
  border-radius: 20px;
  outline: 0;
}
